@model MoneySaver.Web.ViewModels.ViewComponents.WalletDetailsComponentViewModel
@*<div class="input-group-sm mr-sm-1 mb-4"></div>*@
<a class="btn btn-sm btn-primary" asp-controller="Wallets" asp-action="Details" asp-route-id="@Model.WalletId"><i class="mdi mdi-dots-horizontal"></i> Details</a>
