@model MoneySaver.Web.ViewModels.ViewComponents.DeleteCategoryComponentViewModel

<a href="/Categories/Delete?id=@Model.CategoryId&walletId=@Model.WalletId" class="btn btn-outline-danger btn-sm mr-2" title="Delete category">
    <span class="mdi mdi-delete-forever" style="font-size: 15px;"></span>
    Delete
</a>