@model MoneySaver.Web.ViewModels.ViewComponents.AddRecordComponentViewModel
@*<div class="input-group-sm mr-sm-1 mb-4"></div>*@
<a class="btn btn-sm btn-primary" href="/Records/Add?walletId=@Model.WalletId"><i class="mdi mdi-plus"></i> Record</a>
