@model MoneySaver.Web.ViewModels.ViewComponents.AddRecordComponentViewModel

<div class="btn-group mr-2">
    <button class="btn btn-sm btn-primary" onclick="location.href='/Records/Add?walletId=@Model.WalletId'" type="button"><i class="mdi mdi-plus"></i> Record</button>
</div>