@model MoneySaver.Web.ViewModels.ViewComponents.DeleteRecordComponentViewModel
<a href="/Records/Delete?recordId=@Model.Id"><span class="btn btn-outline-danger btn-icon-text float-right" data-toggle="tooltip" data-placement="bottom" title="Delete record"><i class="mdi mdi-delete btn-icon-prepend"></i> Delete</span></a>
