@model MoneySaver.Web.ViewModels.ViewComponents.EditRecordComponentViewModel

<a href="/Records/Edit?id=@Model.Id&walletId=@Model.WalletId"><span class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit or delete record"><i class="mdi mdi-pencil btn-icon-prepend"></i></span></a>
