@model MoneySaver.Web.ViewModels.ViewComponents.AddCategoryComponentViewModel
@*<div class="input-group-sm mr-sm-1 mb-4"></div>*@
<a class="btn btn-sm btn-primary" asp-controller="Categories" asp-action="Add" asp-route-id="@Model.WalletId"><i class="mdi mdi-plus"></i> Category</a>
