@model MoneySaver.Web.ViewModels.ViewComponents.AddCategoryComponentViewModel

<div class="btn-group mr-2">
    <button class="btn btn-sm btn-primary" onclick="location.href='/Categories/Add/@Model.WalletId'" type="button"><i class="mdi mdi-plus"></i> Category</button>
</div>