@model MoneySaver.Web.ViewModels.ViewComponents.AllRecordsByWalletComponentViewModel

<div class="input-group-sm mr-sm-1 mb-4">
    <a class="btn btn-sm btn-primary" asp-controller="Wallets" asp-action="Records" asp-route-id="@Model.WalletId"><i class="mdi mdi-format-list-bulleted"></i> Records</a>
</div>