@model MoneySaver.Web.Models.ViewComponents.AllRecordsByWalletComponentViewModel

<div class="btn-group mr-2">
    <button class="btn btn-sm btn-primary" onclick="location.href='/Wallets/Records/@Model.WalletId'" type="button"><i class="mdi mdi-format-list-bulleted"></i> All Records</button>
</div>