@using MoneySaver.Web.ViewModels.ToDoLists;
@model AddToDoListInputModel
@{
    this.ViewData["Title"] = "Add New List";
}
<div class="col-lg-12">
    <div class="card px-3">
        <div class="card-body">
            <div class="bg-white">
                <div class="template-demo mb-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-controller="ToDoLists" asp-action="All">Lists</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Add New</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <br/>
            <h4 class="card-title">
               New List 
            </h4>
            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="list-wrapper">
                    <div id="AddItems">
                        @*<span class="text-light"><a class="add btn btn-primary" onclick="AddItem()"><i class="fas fa-plus"></i>Add Task</a></span><br />
                        <br />
                    </div>

                        *@
                        <div class='input-group mb-3'>
                            <span class='btn btn-primary active'>Name</span>
                            <label for='Name'></label>
                            <input type='text' placeholder='Example: Products, Wishlist, Job tasks' asp-for="Name" class='form-control' />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <br />
                        <p class="h6">Items:</p>
                        <div class='input-group mb-3'>
                            <div class='input-group-prepend'>
                                <span onclick='AddItem()' class='btn btn-primary'><i class='mdi mdi-plus'></i></span>
                                <label for='ListItems[0]'></label>
                            </div>
                            <input type='text' placeholder='Enter a new item (of example: Milk, iPhone, Team meeting)' name='ListItems[0]' id='ListItems[0]' class='form-control' />
                        </div>
                    </div>
                    <br />
                    <vc:save-button></vc:save-button>
                    <vc:back-button></vc:back-button>
                </div>
            </form>
        </div>
        </div>
    </div>


@section Scripts {
    <script>
        var index = 1;
        function AddItem() {
            $("#AddItems").
                append("<div class='input-group mb-3'>" +
                    "<div class='input-group-prepend'>" + "<span onclick='AddItem()' class='btn btn-primary'><i class='mdi mdi-plus'></i></span>" +
                    "<label for='ListItems" + index + "'" + "" +
                    "</label>" +
                    "</div>" +
                    "<input type='text' placeholder='Enter a new item' name='ListItems[" + index + "]' id='ListItems" + index + "'" + " class='form-control' />"
                    + "</div>");
            index++;
        }
    </script>
}
