@using MoneySaver.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/css/horizontal-layout/style.css">
    <!-- endinject -->
    <!--<link rel="stylesheet" href="~/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />-->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <style>
        .big-logo {
            width: 20% !important;
            
            height: 20% !important;
        }

        .small-logo {
            width: 90% !important;
            height: 90% !important;
        }
     </style>
</head>
<body>
    <div class="container-scroller"> 
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
            <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                <div class="nav-top flex-grow-1">
                    <div class="container d-flex flex-row h-100 align-items-center">
                        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                            <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="Index"><img class="big-logo" src="~/images/logo-big_money_saver_horizontal.png" alt="Money Saver Logo" /></a>
                            <a class="navbar-brand brand-logo-mini" asp-controller="Home" asp-action="Index"><img class="small-logo" src="~/images/logo-mini-money-saver.png" alt="Money Saver Logo" /></a>
                        </div>
                        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end flex-grow-1">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item dropdown">
                                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                        <i class="mdi mdi-bell-outline mx-0"></i>
                                        <span class="count"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                        <a class="dropdown-item">
                                            <p class="mb-0 font-weight-normal float-left">
                                                You have 4 new notifications
                                            </p>
                                            <span class="badge badge-pill badge-warning float-right">View all</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <div class="preview-icon bg-success">
                                                    <i class="mdi mdi-information mx-0"></i>
                                                </div>
                                            </div>
                                            <div class="preview-item-content">
                                                <h6 class="preview-subject font-weight-medium">Application Error</h6>
                                                <p class="font-weight-light small-text">
                                                    Just now
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <div class="preview-icon bg-warning">
                                                    <i class="mdi mdi-settings mx-0"></i>
                                                </div>
                                            </div>
                                            <div class="preview-item-content">
                                                <h6 class="preview-subject font-weight-medium">Settings</h6>
                                                <p class="font-weight-light small-text">
                                                    Private message
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <div class="preview-icon bg-info">
                                                    <i class="mdi mdi-account-box mx-0"></i>
                                                </div>
                                            </div>
                                            <div class="preview-item-content">
                                                <h6 class="preview-subject font-weight-medium">New user registration</h6>
                                                <p class="font-weight-light small-text">
                                                    2 days ago
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                        <span class="count"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                        <div class="dropdown-item">
                                            <p class="mb-0 font-weight-normal float-left">
                                                You have 7 unread mails
                                            </p>
                                            <span class="badge badge-info badge-pill float-right">View all</span>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <img src="~/images/faces/face4.jpg" alt="image" class="profile-pic">
                                            </div>
                                            <div class="preview-item-content flex-grow">
                                                <h6 class="preview-subject ellipsis font-weight-medium">
                                                    David Grey
                                                    <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                                </h6>
                                                <p class="font-weight-light small-text">
                                                    The meeting is cancelled
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <img src="~/images/faces/face2.jpg" alt="image" class="profile-pic">
                                            </div>
                                            <div class="preview-item-content flex-grow">
                                                <h6 class="preview-subject ellipsis font-weight-medium">
                                                    Tim Cook
                                                    <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                                </h6>
                                                <p class="font-weight-light small-text">
                                                    New product launch
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <img src="~/images/faces/face3.jpg" alt="image" class="profile-pic">
                                            </div>
                                            <div class="preview-item-content flex-grow">
                                                <h6 class="preview-subject ellipsis font-weight-medium">
                                                    Johnson
                                                    <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                                </h6>
                                                <p class="font-weight-light small-text">
                                                    Upcoming board meeting
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item nav-profile dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                        <img src="~/images/faces/face5.jpg" alt="profile" />
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                        <a class="dropdown-item">
                                            <i class="mdi mdi-settings text-primary"></i>
                                            Settings
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">
                                            <i class="mdi mdi-logout text-primary"></i>
                                            Logout
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item nav-settings d-none d-lg-block">
                                    <a class="nav-link" href="#">
                                        <i class="mdi mdi-apps"></i>
                                    </a>
                                </li>
                            </ul>
                            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                                <span class="mdi mdi-menu"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="bottom-navbar">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <i class="mdi mdi-home-outline menu-icon"></i>
                                <span class="menu-title">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Wallets" asp-action="AllWallets">
                                <i class="mdi mdi-wallet menu-icon"></i>
                                <span class="menu-title">Wallets</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ToDoLists" asp-action="AllLists">
                                <i class="mdi mdi-format-list-checks menu-icon"></i>
                                <span class="menu-title">ToDo Lists</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Investments" asp-action="AllInvestments" class="nav-link">
                                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                                <span class="menu-title">Investments</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/documentation/documentation.html" class="nav-link">
                                <i class="mdi mdi-information-outline menu-icon"></i>
                                <span class="menu-title">About</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Identity/Account/Logout" class="nav-link">
                                <i class="mdi mdi-logout menu-icon"></i>
                                <span class="menu-title">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="w-100 clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart-outline text-danger"></i></span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
