@using MoneySaver.Common
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/horizontal-layout/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/favicon.png" />

    <!--<link rel="stylesheet" href="~/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />-->

    <link rel="stylesheet" href="~/css/maps/vertical-layout-light/style.css.map">
    <link rel="stylesheet" href="~/scss/common/light/components/_forms.scss">
    <link rel="stylesheet" href="~/scss/common/light/components/_dropdown.scss">
    <link rel="stylesheet" href="~/scss/common/light/components/_reset.scss">


    <link rel="stylesheet" href="path-to/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />


    <script src="~/js/jq.tablesort.js"></script>
    <script src="~/js/tablesorter.js"></script>


    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/jq.tablesort.js"></script>
    <script src="~/js/tablesorter.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/form-validation.js"></script>
    <script src="~/js/form-addons.js"></script>
    <script src="~/js/form-repeater.js"></script>



    <!-- endinject -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
            <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                <div class="nav-top flex-grow-1">
                    <div class="container d-flex flex-row h-100 align-items-center">
                        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                            <a class="navbar-brand brand-logo" href="index.html"><img src="~/images/logo.svg" alt="logo" /></a>
                            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/images/logo-mini.svg" alt="logo" /></a>
                        </div>
                        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end flex-grow-1">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item dropdown">
                                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                        <i class="mdi mdi-bell-outline mx-0"></i>
                                        <span class="count"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                        <a class="dropdown-item">
                                            <p class="mb-0 font-weight-normal float-left">
                                                You have 4 new notifications
                                            </p>
                                            <span class="badge badge-pill badge-warning float-right">View all</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <div class="preview-icon bg-success">
                                                    <i class="mdi mdi-information mx-0"></i>
                                                </div>
                                            </div>
                                            <div class="preview-item-content">
                                                <h6 class="preview-subject font-weight-medium">Application Error</h6>
                                                <p class="font-weight-light small-text">
                                                    Just now
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <div class="preview-icon bg-warning">
                                                    <i class="mdi mdi-settings mx-0"></i>
                                                </div>
                                            </div>
                                            <div class="preview-item-content">
                                                <h6 class="preview-subject font-weight-medium">Settings</h6>
                                                <p class="font-weight-light small-text">
                                                    Private message
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <div class="preview-icon bg-info">
                                                    <i class="mdi mdi-account-box mx-0"></i>
                                                </div>
                                            </div>
                                            <div class="preview-item-content">
                                                <h6 class="preview-subject font-weight-medium">New user registration</h6>
                                                <p class="font-weight-light small-text">
                                                    2 days ago
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                        <span class="count"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                        <div class="dropdown-item">
                                            <p class="mb-0 font-weight-normal float-left">
                                                You have 7 unread mails
                                            </p>
                                            <span class="badge badge-info badge-pill float-right">View all</span>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <img src="~/images/faces/face4.jpg" alt="image" class="profile-pic">
                                            </div>
                                            <div class="preview-item-content flex-grow">
                                                <h6 class="preview-subject ellipsis font-weight-medium">
                                                    David Grey
                                                    <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                                </h6>
                                                <p class="font-weight-light small-text">
                                                    The meeting is cancelled
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <img src="~/images/faces/face2.jpg" alt="image" class="profile-pic">
                                            </div>
                                            <div class="preview-item-content flex-grow">
                                                <h6 class="preview-subject ellipsis font-weight-medium">
                                                    Tim Cook
                                                    <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                                </h6>
                                                <p class="font-weight-light small-text">
                                                    New product launch
                                                </p>
                                            </div>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                <img src="~/images/faces/face3.jpg" alt="image" class="profile-pic">
                                            </div>
                                            <div class="preview-item-content flex-grow">
                                                <h6 class="preview-subject ellipsis font-weight-medium">
                                                    Johnson
                                                    <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                                </h6>
                                                <p class="font-weight-light small-text">
                                                    Upcoming board meeting
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item nav-profile dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                        <img src="~/images/faces/face5.jpg" alt="profile" />
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                        <a class="dropdown-item">
                                            <i class="mdi mdi-settings text-primary"></i>
                                            Settings
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item">
                                            <i class="mdi mdi-logout text-primary"></i>
                                            Logout
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item nav-settings d-none d-lg-block">
                                    <a class="nav-link" href="#">
                                        <i class="mdi mdi-apps"></i>
                                    </a>
                                </li>
                            </ul>
                            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                                <span class="mdi mdi-menu"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="bottom-navbar">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Wallets" asp-action="All">
                                <i class="mdi mdi-airplay menu-icon"></i>
                                <span class="menu-title">Wallets</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ToDoLists" asp-action="All">
                                <i class="mdi mdi-airplay menu-icon"></i>
                                <span class="menu-title">Lists</span>
                                <i class="menu-title"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                                <span class="menu-title">Forms</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul class="submenu-item">
                                    <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/forms/advanced_elements.html">Advanced Elements</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/forms/validation.html">Validation</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/forms/wizard.html">Wizard</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/forms/text_editor.html">Text Editor</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/forms/code_editor.html">Code Editor</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item mega-menu">
                            <a href="#" class="nav-link">
                                <i class="mdi mdi-finance menu-icon"></i>
                                <span class="menu-title">Data</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <div class="col-group-wrapper row">
                                    <div class="col-group col-md-6">
                                        <p class="category-heading">Charts</p>
                                        <div class="submenu-item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/chartjs.html">Chart Js</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/morris.html">Morris</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/flot-chart.html">Flot</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/google-charts.html">Google Chart</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/sparkline.html">Sparkline</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/c3.html">C3 Chart</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/chartist.html">Chartist</a></li>
                                                        <li class="nav-item"><a class="nav-link" href="pages/charts/justGage.html">JustGage</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-group col-md-3">
                                        <p class="category-heading">Table</p>
                                        <ul class="submenu-item">
                                            <li class="nav-item"><a class="nav-link" href="pages/tables/basic-table.html">Basic Table</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/tables/data-table.html">Data Table</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/tables/js-grid.html">Js-grid</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/tables/sortable-table.html">Sortable Table</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-group col-md-3">
                                        <p class="category-heading">Maps</p>
                                        <ul class="submenu-item">
                                            <li class="nav-item"><a class="nav-link" href="pages/maps/mapeal.html">Mapeal</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/maps/vector-map.html">Vector Map</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/maps/google-maps.html">Google Map</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mega-menu">
                            <a href="#" class="nav-link">
                                <i class="mdi mdi-codepen menu-icon"></i>
                                <span class="menu-title">Sample Pages</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <div class="col-group-wrapper row">
                                    <div class="col-group col-md-3">
                                        <p class="category-heading">User Pages</p>
                                        <ul class="submenu-item">
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/login.html">Login</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/login-2.html">Login 2</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/register.html">Register</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/register-2.html">Register 2</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/lock-screen.html">Lockscreen</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-group col-md-3">
                                        <p class="category-heading">Error Pages</p>
                                        <ul class="submenu-item">
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/error-400.html">400</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/error-404.html">404</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/error-500.html">500</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/error-505.html">505</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-group col-md-3">
                                        <p class="category-heading">E-commerce</p>
                                        <ul class="submenu-item">
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/invoice.html">Invoice</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/pricing-table.html">Pricing Table</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/orders.html">Orders</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-group col-md-3">
                                        <p class="category-heading">General</p>
                                        <ul class="submenu-item">
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/search-results.html">Search Results</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/profile.html">Profile</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/timeline.html">Timeline</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/news-grid.html">News grid</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/portfolio.html">Portfolio</a></li>
                                            <li class="nav-item"><a class="nav-link" href="pages/samples/faq.html">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="mdi mdi-image-filter menu-icon"></i>
                                <span class="menu-title">Apps</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul class="submenu-item">
                                    <li class="nav-item"><a class="nav-link" href="pages/apps/email.html">Email</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/apps/calendar.html">Calendar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/apps/todo.html">Todo List</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pages/apps/gallery.html">Gallery</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="pages/documentation/documentation.html" class="nav-link">
                                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                                <span class="menu-title">Documentation</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="w-100 clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart-outline text-danger"></i></span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- Custom js for this page-->
    <script src="../../js/dashboard.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- End custom js for this page-->
    <!-- End custom js for this page-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
