@model PagingViewModel

<div class="d-flex justify-content-center">
    <nav>
        <ul class="pagination rounded-flat pagination-success">
            <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
                <a class="page-link" href="/Wallets/Records?id=@Model.WalletId&page=@Model.PreviousPageNumber"><i class="mdi mdi-chevron-left"></i></a>
            </li>
            @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item"><a class="page-link" href="/Wallets/Records?id=@Model.WalletId&page=@i">@i</a></li>
                }
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item"><a class="page-link" href="/Wallets/Records?id=@Model.WalletId&page=@i">@i</a></li>
                }
            }
            <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
                <a class="page-link" href="/Wallets/Records?id=@Model.WalletId&page=@Model.NextPageNumber"><i class="mdi mdi-chevron-right"></i></a>
            </li>
        </ul>
    </nav>
</div>
