@using MoneySaver.Web.ViewModels.Companies
@model EditCompanyInputModel

@{
    ViewData["Title"] = "Edit Company";
}
<div class="bg-white">
    <div class="template-demo mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Admin Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-controller="Companies" asp-action="Index">Companies</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>Edit @Model.Name</span></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <div class="form-inline d-flex justify-content-center h3">
            Edit company @Model.Name
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        @if (this.TempData.ContainsKey("InvalidEditModel"))
        {
            <div class="alert alert-danger font-weight-bold">@this.TempData["InvalidEditModel"]</div>
        }
        <form style="display: inline;" class="forms-sample" asp-controller="Companies" asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <span class="mdi mdi-copyright text-primary"></span>
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control form-control-lg" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="mdi mdi-copyright text-primary"></span>
                <label asp-for="Ticker" class="control-label">Ticker</label>
                <input asp-for="Ticker" class="form-control form-control-lg" />
                <span asp-validation-for="Ticker" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-sm mr-2 mdi mdi-check text-light">
                Save
            </button>
        </form>
        <a class="btn btn-outline-info btn-sm float-right" asp-action="Index">Back to All</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
