@model MoneySaver.Web.ViewModels.ViewComponents.WalletStatisticsComponentViewModel

<div class="input-group-sm mr-sm-1 mb-4">
    <button class="btn btn-sm btn-primary" onclick="location.href='/Wallets/Statistics/@Model.Id'" type="button"><i class="mdi mdi-chart-bar"></i> Statistics</button>
</div>