@model MoneySaver.Web.ViewModels.ViewComponents.WalletStatisticsComponentViewModel
@*<div class="input-group-sm mr-sm-1 mb-4"></div>*@
<a class="btn btn-sm btn-primary" asp-controller="Wallets" asp-action="Categories" asp-route-id="@Model.Id"><i class="mdi mdi-format-list-bulleted"></i>Categories</a>
