@model MoneySaver.Web.ViewModels.ViewComponents.EditCategoryComponentViewModel

<a href="/Categories/Edit?id=@Model.CategoryId&walletId=@Model.WalletId"><span class="btn btn-outline-info btn-sm btn-icon-text" data-toggle="tooltip" data-placement="bottom" title="Edit record"><i class="mdi mdi-pencil btn-icon-prepend"></i>Edit</span></a>