@using MoneySaver.Web.ViewModels
@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error!" + " " + Model.Message;
}
@*<div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">*@
<div class="text-center text-primary">
    <span class="mdi mdi-exclamation" style="font-size: 240px;"></span>
</div>
<div class="content-wrapper text-center error-page">
    <div class="row flex-grow">
        <div class="col-lg-12 text-dark">

            <div class="row">
                <div class="col-12 text-center">

                    <div class="h2 text-center mb-5">

                        Oops! @Model.Message
                    </div>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
<!-- page-body-wrapper ends -->
