@*
   
*@
@{
    this.ViewData["Title"] = "On the way of the financial freedom";
}
<!-- Start Banner Hero -->
<div class="banner-wrapper bg-light">
    <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

        <!-- Start slider -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="py-2 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1 class="banner-heading h1 text-primary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                On the way of the  <strong>financial freedom </strong>
                            </h1>
                            <div class="inner-text-container">
                                <p class="banner-body text-primary p-4">
                                    Achieve your financial goals with  <strong>Money Saver</strong>!
                                    <br />
                                    <strong>Money Saver</strong> is a financial app which you can use to track your incomes and expenses, create Todo lists and track your stock trades.
                                </p>
                            </div>
                            <a asp-area="Identity" asp-page="/Account/Login" class="banner-button btn rounded-pill btn-primary btn-lg px-4 mt-2" role="button">Get Started</a>
                            <a asp-area="" asp-controller="Home" asp-action="About" class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4 mt-2" role="button">About Money Saver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End slider -->

    </div>
</div>
<!-- End Banner Hero -->
<partial name="_DeveloperContactsPartial" />

